<% @user.followees.each do |user| %>
  <% following = current_user && current_user.following?(user) %>
  <% active = (current_user && !following) ? 'inactive-cell' : 'active-cell' %>
  <div class="cell-wrapper medium-cells" id="user_<%= user.id %>">
    <a href="<%= profile_path(:username => user.username) %>">
      <span class="cell <%= active %>" title="<%= user.full_name %>">
        <img class="cell-thumb" src="<%= user.thumbnail %>" alt="" />
        <span class="cell-text">
          <span class="cell-title"><%= user.username %></span>
          <% if current_user && @user.id != current_user.id %>
            <span class="cell-details"><%= following ? '' : 'Not ' %>Connected</span>
          <% end %>
        </span>
      </span>
    </a>
  </div>
<% end %>
