<div class="search-form section common-form">
  <form action="<%= search_path %>">
    <div class="search-form-box">
      <fieldset class="form-cell">
        <label>Keyword Search</label>
        <input class="text-input clear-field" type="text" name="query" value="<%= params[:query] %>" />
      </fieldset>
      <fieldset class="form-cell">
        <label>Location</label>
        <input class="text-input" type="text" name="location" value="<%= params[:location] %>" />
      </fieldset>
      <fieldset class="form-cell">
        <label>Industry</label>
        <input class="text-input" type="text" name="industry" value="<%= params[:industry] %>" />
      </fieldset>
      <fieldset class="form-cell">
        <label>Job Title</label>
        <input class="text-input" type="text" name="title" value="<%= params[:title] %>" />
      </fieldset>
    </div>
    <fieldset class="search-submit">
      <input class="submit-button" type="image" src="images/buttons/search.gif" alt="Search" />
    </fieldset>
  </form>
</div>
