<% @slug = 'signup_1' %>

<%= error_messages_for 'user' %>

<div class="signup-section">
  <div class="signup-contents">
    <div class="signup-form common common-form">
      <% form_for @user, :url => signup_path do |form| %>
        <fieldset class="signup-left">
          <%= form.text_field :first_name, :size => 20, :class => 'text-input clear-field', :value => 'First Name' %>
          <%= form.text_field :last_name, :size => 20, :class => 'text-input clear-field', :value => 'Last Name' %>
          <%= form.text_field :email, :size => 20, :class => 'text-input clear-field', :value => 'Email Adress' %>
        </fieldset>
        <fieldset class="signup-right">
          <%= form.text_field :username, :size => 20, :class => 'text-input clear-field', :value => 'Desired Username' %>
          <%= form.password_field :password, :size => 20, :class => 'text-input clear-field', :value => 'Desired Password' %>
          <div class="form-misc">
            <%= form.label :terms_of_service, 'Agree to Terms' %>
            <%= form.check_box :terms_of_service, :class => 'checkbox-input' %>
            <input class="submit-button" type="image" src="/images/buttons/sign_up.gif"  />
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
  <%= render :partial => 'signup/common' %>
</div>
