<% SocialNetworkSite.all.each do |network| %>
  <div class="cell network_site" id="<%= network.name %>">
    <img alt="<%= network.name %>" src="<%= network.icon %>" />
    <h6><%= network.name %></h6>
  <% if @user.accounts[network.name] && @user.accounts[network.name].authenticated_to_network_site? %>
    <small class="network_site_username"><%= @user.accounts[network.name].username %></small>
  <% else %>
    <small class="network_site_add"><%= link_to('Add Network', network_path(:network => network.name)) %></small>
  <% end %>
  </div>
<% end %>
