<div class="cell-wrapper">
  <div class="cell network_site" title="<%= @user.accounts[@network.name].nil? ? @network.name : (@user.accounts[@network.name].username || @user.accounts[@network.name].full_name) %>">
    <a target="_blank" href="<%= @user.accounts[@network.name].url %>"><img class="cell-thumb" src="<%= @network.icon %>" alt="<%= @network.name %>" /></a>
    <span class="cell-text">
      <span class="cell-title"><%= @network.name %></span>
      <span class="cell-details">Connected</span>
    </span>
    <div class="action-button"><%= button_to('Unconnect', destroy_connection_path(:user => @user.username, :network => @network), :method => :delete) %></div>
  </div>
</div>
