<div class="bio">
  <h3><%= @who %> bio</h3>
  <ul>
    
  </ul>
</div>

<div class="networks">
  <h3><%= @who %> networks</h3>
  <%= render :partial => 'network/list', :locals => {:networks => @networks, :user => @user} %>
</div>

<div class="connections">
  <h3><%= @who %> connections</h3>
  <%= render :partial => 'connection/list', :locals => {:user => @user} %>
</div>
