<h2>Welcome to <%= SITE_NAME %>!</h2>

<p>
  Welcome <%= current_user.full_name %>.
  This is your User Profile.
</p>
<p>
  <%= link_to 'Networks', '/networks' %>
</p>

<div class="their">
  <%= render :partial => 'user/profile', :locals => {:who => 'your', :user => @user} %>
</div>

Your email address: <%= @user.email %>