<h1>Signup (Step 1)</h1>
<p>
  Please fill out the form below to sign up for an EasyFollow account.
</p>
<% form_for @user, :url => login_path do |form| %>

  <%= form.label :first_name, 'First Name' %><br />
  <%= form.text_field :first_name, :size => 20 %><br />

  <%= form.label :last_name, 'Last Name' %><br />
  <%= form.text_field :last_name, :size => 20 %><br />

  <%= form.label :email_address, 'Email Address' %><br />
  <%= form.text_field :email_address, :size => 20 %><br />

  <%= form.label :login, 'Userame' %><br />
  <%= form.text_field :login, :size => 20 %><br />

  <%= form.label :password, 'Password' %><br />
  <%= form.password_field :password, :size => 20 %>

  <%= form.label :accept_terms, 'Agree to Terms' %><br />
  <%= form.check_box :accept_terms %>

  <hr />

  <%= form.submit 'Sign Up' %>

<% end %>
