<h1>Signup (Step 1)</h1>
<%= error_messages_for 'user' %>
<p>
  Please fill out the form below to sign up for an EasyFollow account.
</p>
<% form_for @user, :url => signup_path do |form| %>

  <%= form.label :first_name, 'First Name' %><br />
  <%= form.text_field :first_name, :size => 20 %><br />

  <%= form.label :last_name, 'Last Name' %><br />
  <%= form.text_field :last_name, :size => 20 %><br />

  <%= form.label :email, 'Email Address' %><br />
  <%= form.text_field :email, :size => 20 %><br />

  <%= form.label :username, 'Username' %><br />
  <%= form.text_field :username, :size => 20 %><br />

  <%= form.label :password, 'Password' %><br />
  <%= form.password_field :password, :size => 20 %>

  <%= form.label :terms_of_service, 'Agree to Terms' %><br />
  <%= form.check_box :terms_of_service %>

  <hr />

  <%= form.submit 'Sign Up' %>

<% end %>
