<h1>Login</h1>
<p>
  Please enter your user ID and password to log in.
</p>

<% form_for @user, :url => login_path do |form| %>
  <%= form.label :login, 'User Name' %><br />
  <%= form.text_field :login, :size => 20 %><br />
  <%= form.label :password, 'Password' %><br />
  <%= form.password_field :password, :size => 20 %>
  <hr />
  <%= form.submit 'Log In' %>
<% end %>
