<div class="<%= @profile_type %>_profile">

  <div class="profile-block column bio">
    <img class="thumb" src="/images/samples/medium_thumb.jpg" alt="" /><!-- TODO: Pull in user's image here. -->
    <h3><%= @user.username %></h3>
    <p><strong>Name:</strong> <%= @user.full_name %></p>
    <p><strong>Location:</strong> <%= @user.location %></p>
    <p><strong>Industry:</strong> <%= @user.industry %></p>
    <p><strong>Title:</strong> <%= @user.title %></p>
    <p><strong>Bio:</strong> <%= @user.description %></p>
    <% if @profile_type == 'my' %>
      <h6 class="edit-link"><a href="<%= edit_profile_path %>" title="Edit Profile">edit my profile</a></h6>
    <% elsif @profile_type == 'public' %>
      <%= link_to 'Sign up to follow me', signup_path %>
    <% else %>
      <h6 class="edit-link"><%= link_to 'CONNECT', edit_connections_path(:user => @user.username) %></h6>
    <% end %>
  </div>

  <div class="profile-grid column grid1">
    <div class="grid-title">
      <h2><%= @who %> Networks</h2>
    </div>
    <div class="grid-contents networks">
      <%= render :partial => 'network/list', :locals => {:user => @user} %>
    </div>
    <div class="grid-footer">
      <a href="#" title="Get the code"><img src="/images/profile/meezy_logo_sm.gif" alt="" /></a>
      <small><a href="#" title="Get the code">Get the code</a> to add this meezy.me badge to your website or blog</small>
    </div>
  </div>

  <div class="profile-grid column grid2">
    <div class="grid-title">
      <h2><%= @who %> Connections</h2>
<!--
      <div class="pagination">
        <img src="/images/samples/pagination.jpg" alt="" />
      </div>
-->
    </div>
    <div class="grid-contents connections">
      <%= render :partial => 'connection/list', :locals => {:user => @user} %>
    </div>
    <div class="grid-footer">
      <% form_for :search, :url => search_path do |form| %>
        <input class="text-input clear-field" type="text" value="find meezy.me connections" name="query" />
        <input class="submit-button" type="image" src="/images/buttons/search.gif" alt="search" />
      <% end %>
    </div>
  </div>

</div>