<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>

    <title><%=h (yield(:title).blank? ? SITE_TITLE : "#{SITE_TITLE} &#187; #{yield(:title)}") %></title>

    <!-- Declare UTF-8 character encoding, for situations where we don't have a web server to do so for us. -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Google will display this in its search results. TODO: Determine if the page wants to set this. -->
    <meta name="description" content="" />

    <!-- Favorites icon for IE5+ and W3C-compliant browsers. -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.ico" />

    <!-- Tell IE6 not to add Image Toolbar to images, nor SmartTags. -->
    <meta http-equiv="imagetoolbar"        content="false" /> <!-- See http://www.microsoft.com/windows/ie/using/howto/customizing/imgtoolbar.mspx -->
    <meta name="MSSmartTagsPreventParsing" content="true" />

<% if GOOGLE_ANALYTICS_CODE %>
    <!-- Google Analytics code. (Used only by my JavaScript code.) -->
    <meta name="google.analytics.code" content="<%= GOOGLE_ANALYTICS_CODE %>" />
<% end %>

<% if GOOGLE_WEBMASTERS_CODE %>
    <!-- Allow use of Google Webmaster Tools (http://www.google.com/webmasters/) to see how Google views your site. -->
    <meta name="verify-v1" content="<%= GOOGLE_WEBMASTERS_CODE %>" />
<% end %>

    <!-- Make sure all CSS stylesheets come before all JavaScript. (http://code.google.com/speed/page-speed/docs/rtt.html#PutStylesBeforeScripts) -->
    <% # Combine all stylesheets into a single CSS file (possibly excepting IE-specific file(s)), preferably compressed. %>
    <%= stylesheet_link_merged 'common' %>

    <!-- Make ABBR elements work in all versions of IE. See http://xopus.com/devblog/2008/style-unknown-elements.html -->
    <script type="text/javascript">document.createElement('abbr');</script>

    <!-- Include jQuery. If production, pull it from Google. -->
    <%= jquery_include_tag %>

    <!-- Include all other JavaScript files. If production, minimize and combine into a single file. -->
    <% javascript_files = ['common'] %>
    <% javascript_files += 'boochtek/google-analytics' if GOOGLE_ANALYTICS_CODE %>
    <%= javascript_include_merged *javascript_files %>

    <% # TODO: More header/footer stuff. %>
    <%= yield(:head) %>

  </head>

  <!-- Provide a CSS signature, derived from site's URI. (http://archivist.incutio.com/viewlist/css-discuss/13291) -->
  <body id="<%= CSS_SIGNATURE %>">

    <div class="page-wrapper <%= @slug || '' %>">

      <%= render :partial => 'layouts/header' %>
      <%= render :partial => 'layouts/messages' %>

      <div id="main-content" class="content">
        <!-- Main page content gets pulled in by the yield statement below. -->
        <%= yield %>
      </div>

      <%= render :partial => 'layouts/footer' %>

    </div> <!-- page-wrapper -->

  </body>

</html>
